Repository letwebdev/hackernews: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

fix: fix line break of `<code>`
  src/components/ItemPost.vue
Due: prettier --write, eslint --fix, stylelint --fix

chore: modify button for mobile
  src/components/ControlPanel.vue
Due: prettier --write, eslint --fix, stylelint --fix

chore: modify overflow behavior
  src/components/ItemPost.vue
Due: prettier --write, eslint --fix, stylelint --fix

fix: correctify lifecycle hook of `ControlPanel`
  src/components/ControlPanel.vue
Due: prettier --write, eslint --fix, stylelint --fix

chore: modify font-size
  src/App.vue
  src/assets/base.css
Due: prettier --write, eslint --fix, stylelint --fix

fix(mobile): limit max width
  src/App.vue
  src/components/ItemPost.vue
  src/views/HackerNewsView.vue
Due: prettier --write, eslint --fix, stylelint --fix

refactor(setVersionNumber.sh)
  scripts/setVersionNumber.sh
Due: none

chore: bump to v0.0.6
  package.json
Due: none

fix(`setVersionNumber`): fix logic error of `bump`
  scripts/setVersionNumber.sh
Due: none

chore: decrease the size of `DataCharts`
  src/components/DataCharts.vue
  src/views/ChartsView.vue
Due: prettier --write, eslint --fix, stylelint --fix

fix: fix width of `<input>` in `SettingItems`
  src/components/SettingItems.vue
Due: prettier --write, eslint --fix, stylelint --fix

chore: bump to v0.0.7
  package.json
Due: none

feat(`setVersionNumber.sh`): exit if error occurs
  scripts/setVersionNumber.sh
Due: none

fix: fix lacked app name in release part of action
  .github/workflows/android.yml
Due: none

Revert "chore: bump to v0.0.7"
  package.json
Due: none

fix(setVersionNum): not exit for unbound variable
  scripts/setVersionNumber.sh
Due: none

fix: not auto-fetching when selecting lists
  src/components/ControlPanel.vue
Due: prettier --write, eslint --fix, stylelint --fix

build(package.json)use `"type": "module"`
  package.json
Due: none

chore(deps):bump
  package-lock.json
  package.json
Due: none

chore: bump `vue` to 3.4.20
  package-lock.json
  package.json
Due: none

chore(test): update vitest config
  tsconfig.app.json
  vitest.config.ts
Due: prettier --write, eslint --fix

test: supplement
  src/libs/__test__/formatter.spec.ts
  src/libs/__test__/math.spec.ts
  src/stores/__test__/settings.spec.ts
Due: prettier --write, eslint --fix

chore: auto-import `@vue/test-utils`
  .eslintrc-auto-import.json
  auto-imports.d.ts
  vite.config.ts
Due: prettier --write, eslint --fix

chore(`vitest`): fix error about `vuetify`
  vitest.config.ts
Due: prettier --write, eslint --fix

chore
  src/components/__test__/ItemPost.spec.ts
Due: prettier --write, eslint --fix

chore: disable husky
  .husky/pre-commit
Due: none

chore: bump
  package-lock.json
  package.json
Due: none

clean: uninstall echarts
  package-lock.json
  package.json
  src/App.vue
  src/components/DataCharts.vue
  src/router/index.ts
  src/views/ChartsView.vue
  src/views/HackerNewsView.vue
Due: prettier --write, eslint --fix, stylelint --fix

chore bump
  package-lock.json
  package.json
Due: none

fix
  package-lock.json
  package.json
  src/components/NavigatingButtons.vue
  src/router/index.ts
Due: prettier --write, eslint --fix, stylelint --fix

clean: remove electron
  electron-builder.json5
  electron/main.ts
  package-lock.json
  package.json
  vite.config.ts
Due: prettier --write, eslint --fix

UI
  src/components/ItemPost.vue
  src/views/HackerNewsView.vue
  uno.config.ts
Due: prettier --write, eslint --fix, stylelint --fix

Path conditions:
  prettier --write: ((any of: *.{js,ts,jsx,tsx}) or (any of: *.vue)) or (any of: *.{less,css,scss})
  eslint --fix: (any of: *.{js,ts,jsx,tsx}) or (any of: *.vue)
  stylelint --fix: (any of: *.vue) or (any of: *.{less,css,scss})
