Repository letwebdev/hackernews: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

refactor(counter of items fetched)
  src/stores/fetchData.ts
Due: prettier --write, eslint --fix

chore: tweak
  src/stores/fetchData.ts
Due: prettier --write, eslint --fix

feat: add error propmts, sort code
  src/App.vue
  src/stores/fetchData.ts
Due: prettier --write, eslint --fix, stylelint --fix

fix: fix logic error and typo
  src/components/ControlPanel.vue
  src/stores/fetchData.ts
Due: prettier --write, eslint --fix, stylelint --fix

refactor: tweak
  src/stores/fetchData.ts
Due: prettier --write, eslint --fix

refactor: slim code
  src/components/ControlPanel.vue
  src/stores/fetchData.ts
  src/views/HackerNewsView.vue
Due: prettier --write, eslint --fix, stylelint --fix

chore: rename
  src/components/ControlPanel.vue
  src/stores/fetchData.ts
Due: prettier --write, eslint --fix, stylelint --fix

feat: remove `settings.fetchingRandomly`
  src/stores/fetchData.ts
  src/stores/settings.ts
Due: prettier --write, eslint --fix

chore: rename
  src/components/DataCharts.vue
  src/stores/fetchData.ts
  src/stores/settings.ts
Due: prettier --write, eslint --fix, stylelint --fix

feat: remove`settings.fetchingListsAfterSelection`
  src/components/ControlPanel.vue
  src/stores/settings.ts
Due: prettier --write, eslint --fix, stylelint --fix

chore: `unocss` enable Variant group transformer
  uno.config.ts
Due: prettier --write, eslint --fix

feat: enable popup menu
  src/App.vue
  src/views/HackerNewsView.vue
Due: prettier --write, eslint --fix, stylelint --fix

feat: store `selected` to local storage
  src/components/ControlPanel.vue
Due: prettier --write, eslint --fix, stylelint --fix

chore: modify copy
  src/components/ControlPanel.vue
Due: prettier --write, eslint --fix, stylelint --fix

fix: `npm run build:apk-only` use `bash`
  .npmrc
  package.json
Due: none

fix(mobile): fix settings popup
  src/App.vue
  src/stores/settings.ts
Due: prettier --write, eslint --fix, stylelint --fix

refactor(`ItemPost`): use computed instead of func
  src/components/ItemPost.vue
Due: prettier --write, eslint --fix, stylelint --fix

feat: update style
  src/views/HackerNewsView.vue
Due: prettier --write, eslint --fix, stylelint --fix

fix: fix width of settingItems
  src/components/SettingItems.vue
Due: prettier --write, eslint --fix, stylelint --fix

fix: fix height of `HackerNewsView`
  src/views/HackerNewsView.vue
Due: prettier --write, eslint --fix, stylelint --fix

refactor(`ControlPanel`): update logic of prompts
  src/components/ControlPanel.vue
Due: prettier --write, eslint --fix, stylelint --fix

fix: delete listener on unmounted
  src/components/ControlPanel.vue
Due: prettier --write, eslint --fix, stylelint --fix

refactor(`fetchData`): functions use async keyword
  src/stores/fetchData.ts
Due: prettier --write, eslint --fix

fix(fetchData): fix duplicated trigger of removal
  src/App.vue
  src/components/ControlPanel.vue
  src/stores/fetchData.ts
  src/types/hackerNews.ts
Due: prettier --write, eslint --fix, stylelint --fix

refactor(`fetchData`): clarify logic
  src/stores/fetchData.ts
Due: prettier --write, eslint --fix

refactor: split big functions
  src/stores/fetchData.ts
Due: prettier --write, eslint --fix

feat: supplement propmts
  src/App.vue
  src/components/ControlPanel.vue
  src/stores/fetchData.ts
Due: prettier --write, eslint --fix, stylelint --fix

chore: tweak
  src/App.vue
  src/components/ControlPanel.vue
  src/stores/fetchData.ts
Due: prettier --write, eslint --fix, stylelint --fix

refactor: supplement prompts
  src/App.vue
  src/components/ControlPanel.vue
  src/stores/fetchData.ts
Due: prettier --write, eslint --fix, stylelint --fix

chore: install `dayjs`
  package-lock.json
  package.json
Due: none

refactor: time display use `dayjs`
  src/libs/formatter.ts
Due: prettier --write, eslint --fix

fix: fix inconsistent icon size on mobile, tweak
  src/components/ItemPost.vue
  src/stores/coreData.ts
  src/stores/fetchData.ts
Due: prettier --write, eslint --fix, stylelint --fix

fix: break white space in <code> of item post
  src/components/ItemPost.vue
Due: prettier --write, eslint --fix, stylelint --fix

chore: tweak
  src/components/ItemPost.vue
  src/views/HackerNewsView.vue
  uno.config.ts
Due: prettier --write, eslint --fix, stylelint --fix

fix: fix unocss `breakpoint`
  uno.config.ts
Due: prettier --write, eslint --fix

fix: fix style of mobile
  src/components/DataCharts.vue
  src/components/ItemPost.vue
  src/stores/fetchData.ts
Due: prettier --write, eslint --fix, stylelint --fix

chore: tweak style
  src/components/DataCharts.vue
Due: prettier --write, eslint --fix, stylelint --fix

Path conditions:
  prettier --write: ((any of: *.{js,ts,jsx,tsx}) or (any of: *.vue)) or (any of: *.{less,css,scss})
  eslint --fix: (any of: *.{js,ts,jsx,tsx}) or (any of: *.vue)
  stylelint --fix: (any of: *.vue) or (any of: *.{less,css,scss})
