Repository letwebdev/hackernews: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

chore: update `stylelintrc` rule
  .stylelintrc.json
Due: none

style: run `stylelint --fix`
  src/App.vue
  src/assets/base.css
  src/assets/main.css
  src/components/ControlPanel.vue
  src/components/DataCharts.vue
  src/components/ItemPost.vue
  src/components/NavigatingButtons.vue
  src/components/SettingItems.vue
  src/views/AboutView.vue
  src/views/ChartsView.vue
  src/views/HackerNewsView.vue
  src/views/SettingsView.vue
Due: prettier --write, eslint --fix, stylelint --fix

fix: type error
  src/stores/fetchData.ts
Due: prettier --write, eslint --fix

fix: regenerate `package-lock.json`
  package-lock.json
Due: none

fix(GH action):`Cannot find module`
  package.json
Due: none

chore: bump npm packages
  package-lock.json
  package.json
Due: none

fix: update deployToGitHubPage.yml
  .github/workflows/deployToGitHubPage.yml
Due: none

fix: use "stylelint-config-idiomatic-order"
  .stylelintrc.json
  package-lock.json
  package.json
Due: none

style: format with updated `stylelintrc`
  src/App.vue
  src/assets/base.css
  src/assets/main.css
  src/components/ControlPanel.vue
  src/components/NavigatingButtons.vue
  src/views/HackerNewsView.vue
Due: prettier --write, eslint --fix, stylelint --fix

chore: integrate `unocss`
  .eslintrc.cjs
  package-lock.json
  package.json
  src/main.ts
  uno.config.ts
  vite.config.ts
Due: prettier --write, eslint --fix

chore: introduce `unplugin-auto-import`
  package-lock.json
  package.json
  vite.config.ts
Due: prettier --write, eslint --fix

chore: update `auto-imports` config
  .eslintrc-auto-import.json
  auto-imports.d.ts
  vite.config.ts
Due: prettier --write, eslint --fix

chore: update `.prettierignore`
  .prettierignore
Due: none

fix: update `auto-imports` cfg for eslint and ts
  .eslintrc-auto-import.json
  .eslintrc.cjs
  auto-imports.d.ts
  tsconfig.app.json
Due: prettier --write, eslint --fix

refactor: update typings
  src/libs/types.ts
  src/stores/coreData.ts
  src/stores/fetchData.ts
  src/stores/liveData.ts
  src/stores/settings.ts
Due: prettier --write, eslint --fix

fix: remove psudo code that causes error
  auto-imports.d.ts
Due: prettier --write, eslint --fix

chore: bump `@tsconfig/node` to 20
  package-lock.json
  package.json
  tsconfig.node.json
Due: none

chore: tweak
  src/main.ts
  src/router/index.ts
Due: prettier --write, eslint --fix

refactor: css
  src/views/AboutView.vue
  src/views/HackerNewsView.vue
  src/views/SettingsView.vue
Due: prettier --write, eslint --fix, stylelint --fix

refactor(ControlPanel)
  src/components/ControlPanel.vue
  src/components/NavigatingButtons.vue
Due: prettier --write, eslint --fix, stylelint --fix

chore: introduce `vuetify`
  package-lock.json
  package.json
  src/main.ts
  vite.config.ts
Due: prettier --write, eslint --fix

refactor(ControlPanel)
  src/components/ControlPanel.vue
  src/views/HackerNewsView.vue
Due: prettier --write, eslint --fix, stylelint --fix

chore: tweak
  src/components/ControlPanel.vue
Due: prettier --write, eslint --fix, stylelint --fix

refactor: rename `libs/types`->`types/hackerNews`
  src/App.vue
  src/components/ItemPost.vue
  src/stores/coreData.ts
  src/stores/fetchData.ts
  src/stores/liveData.ts
  src/types/hackerNews.ts
Due: prettier --write, eslint --fix, stylelint --fix

chore: tweak
  src/stores/fetchData.ts
Due: prettier --write, eslint --fix

refactor(fetchData.ts): split big functions
  src/stores/fetchData.ts
Due: prettier --write, eslint --fix

chore: rename *URL to *Url, update type `Lists`
  src/stores/coreData.ts
  src/stores/fetchData.ts
Due: prettier --write, eslint --fix

refactor(type): use generics, encapsulate
  src/libs/math.ts
  src/types/hackerNews.ts
Due: prettier --write, eslint --fix

chore: tweak
  src/stores/coreData.ts
  src/stores/fetchData.ts
Due: prettier --write, eslint --fix

refactor: split big functions
  src/stores/fetchData.ts
  src/types/hackerNews.ts
Due: prettier --write, eslint --fix

refactor: split big functions
  src/stores/fetchData.ts
Due: prettier --write, eslint --fix

chore: `coc-volar` enable take-over mode
  .vim/coc-settings.json
Due: none

style: tweak
  src/stores/fetchData.ts
Due: prettier --write, eslint --fix

style: rename `useFetching*` to `fetch*`
  src/App.vue
  src/components/ControlPanel.vue
  src/stores/fetchData.ts
Due: prettier --write, eslint --fix, stylelint --fix

refactor: stand alone universal function, etc.
  src/libs/formatter.ts
  src/stores/fetchData.ts
Due: prettier --write, eslint --fix

refactor: update logic of `fetchItem()`
  src/stores/fetchData.ts
Due: prettier --write, eslint --fix

fix: `removedAlreadyFetchedItemIds()`
  src/stores/fetchData.ts
Due: prettier --write, eslint --fix

chore: tweak
  src/components/ControlPanel.vue
  src/components/ItemPost.vue
Due: prettier --write, eslint --fix, stylelint --fix

feat: `NavigatingButtons` use MDI
  package-lock.json
  package.json
  src/components/NavigatingButtons.vue
  uno.config.ts
Due: prettier --write, eslint --fix, stylelint --fix

Path conditions:
  prettier --write: ((any of: *.{js,ts,jsx,tsx}) or (any of: *.vue)) or (any of: *.{less,css,scss})
  eslint --fix: (any of: *.{js,ts,jsx,tsx}) or (any of: *.vue)
  stylelint --fix: (any of: *.vue) or (any of: *.{less,css,scss})
